[Desktop Entry]
Categories=Engineering
Comment[en_US]=sail7 is a tool designed for the analysis of sail boat performance.
Comment=sail7 is a tool designed for the analysis of sail boat performance.
Exec=sail7 %u
GenericName[en_US]=sail7 v0.02
GenericName=sail7 v0.02
Icon=/home/windsoarer/Qt/sail7-0.02/images/sail7_512.png
MimeType=
Name[en_US]=sail7
Name=sail7
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=6.06
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
X-SuSE-translate=true
