<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>sail7</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sl7</string>
				<string>SL7</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Sail7 Project</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>sl7.sail7.sourceforge.net</string>
			</array>
			<key>LSIsAppleDefaultForType</key>
			<true/>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>xfl.xflr5.sourceforge.net</string>
			<key>UTTypeDescription</key>
			<string>Sail7 Project</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>sl7</string>
					<string>SL7</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>CFBundleIconFile</key>
	<string>Sail7.icns</string>
	<key>CFBundleIdentifier</key>
	<string>sail7.sourceforge.net</string>
	<key>CFBundleName</key>
	<string>sail7</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.00</string>
	<key>CFBundleSignature</key>
	<string>Sail7</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.00.59</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSHighResolutionCapable</key>
	<string>True</string>
</dict>
</plist>
